*{
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  body{
      margin: 0;
      padding: 0;
  }
main{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
#logo{
    width: 7.75em;
    border-inline-end: 0.1em solid #dce0e0;
}
.hero img{
    width: 100%;
    max-height: fit-content;
}
.info{
    text-align: center;
    border-block-end: 0.1rem solid #dce0e0;
}
#profile{
    display: grid;
    justify-content: space-evenly;
    justify-items: stretch;
}
#ownerdetails{
    margin-block-start: 1.25em;
    margin-block-end: 0;

}
#ownerphoto{
    max-height: 5.625em;
    max-width: 5.625em;
    border-radius: 50%;
    
}
h2.relationship,h2.name{
    font-size: 0.875rem;
    color: #909597;

}
h2.relationship{
   font-weight: normal;
   margin-block-end: 0;
}
h2.name{
    margin-block-start: 0;
    margin-block-end: 0;
}
.petdetails{
    margin-block-start: 0;

}
.petdetails h1{
    margin-block-end: 0;
    font-size: 1.6875rem;
    color: #666a6c;
}
.petdetails address{
    font-size: 0.875rem;
    color: #909597;
    margin-block-end: 1.25em;
}
.info .icons{
    font-size: 0.8125rem;
    color: #909597;
    display: inline-flex;
    flex-direction: column;
    align-content: stretch;
    margin-inline-end: 3.8125em;
} 
.icons img{
    max-height: 1.875em;
    margin-block-end: 0.1875em;
}
.booking{
    margin-block-end: 2.1875em;

}
.price{
    font-weight: bold;
    font-size: 1.125rem;
    margin-block-end: 1em;
    
    


}
.button{
    text-decoration: none;
    background-color: #c51f1f;
    color: white;
    padding: 1% 5% 1% 5%;
}
a:hover{
    background-color: #dce0e0;
    color: #c51f1f;
}
section{
    background-color: #f5f5f5;

}
.about{
   padding: 1.25em;
   border-block-end: 0.1rem solid #dce0e0;
    
}
.about h3{
    text-align: center;
    font-size: 1rem;
    color: #565a5c;
}
#para{
    color: #565a5c;
    font-size: 0.8125rem;
}
#contactowner{
    text-align: center;
    
}
.about a{
    text-decoration: none;
    color: #c51f1f;
    font-size: 0.8325rem;
    font-weight: bold;
}
.care{
   padding: 1.25em;
   border-block-end: 0.1em solid #dce0e0;
   font-size: 0.8125rem;
   color: #565a5c;

}
time{
    font-weight: bold;
}
.games{
    padding: 1.25em;
    border-block-end: 0.1em solid #dce0e0;
    font-size: 0.8125rem;
    color: #565a5c;
    margin-block-end: 1em;
}

.photos{
    padding: 1.25em;
    border-block-end: 0.1em solid #dce0e0;
    display: grid;
    justify-content: start
}
.photos img{
    width: 100%;
    margin-block-end: 1em;
}
footer{
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #909597;
}

@media only screen and (min-width: 800px){

    .info{
        display: inline-flex;
        height: 200px;
    }
    #profile{
        margin-left: 292px;
        margin-top: 12px;
       width: 660px;
       height: 150px;
       display: inline-flex;
       border-right: 1px solid #dce0e0;
 
    }
    #ownerdetails{
       height: 100px;
       width: 100px;
    }
    .petdetails{
        width: 400px;
        margin: 0;
 
    }
    .booking{
        margin-left: 46px;
        margin-top: 30px;
    }
    .button{
        padding: 10px 50px 10px 50px;
    }
    section{
        background-color: #f5f5f5;
        /* border-bottom: 1px solid #dce0e0; */
    }
    .about{
        margin-left: 310px;
      width: 700px;
    }
    .care{
     margin-left: 310px;
     width: 700px;
     height: 150px;
     display: inline-flex;
     justify-content: space-between;
     align-items: baseline;
    }
    .care h4{
        width: 170px;
    }
    .games{
     margin-left: 310px;
     width: 700px;
     height: 150px;
     display: inline-flex;
     justify-content: flex-start;
     align-items: baseline;
    }
    .games h4{
     width: 170px; 
     margin-right: 77px;
    }
    .photos{
     margin-left: 310px;
     width: 700px;
     margin-top: 28px;
     margin-bottom: 80px;
     display: inline;
 
    }
    .photos img{
        width: 200px;
        height: 300px;
        margin-right: 17px;
        
    }
  
 
 
 }
